<div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                                       <span class="label label-info info">
                        <span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/twitter-bird-logo.jpg" alt="..." class="image">
<!--                <a href="http://bootsnipp.com/snippets/featured/post-thumbnail-list" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->  <div class="middle">
    <a  href="#" class="btn btn-primary  middle text"  class="">View</a>
  </div>
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                                   <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">433 <i class="glyphicon glyphicon-eye-open"></i></span>
                        <span data-toggle="tooltip" title="Favorited">4 <i class="glyphicon glyphicon-star"></i></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/facebook-show-wrong-picture-.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/colourful-tabbed-slider-carousel" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                    
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">2.1K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">13 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/zomato-logo-1.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/portfolio-using-panels" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
               
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">11.5K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">24 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/youTube.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/parallax-login-form" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                   
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">7.3K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">31 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/youTube.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/timeline-responsive" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                   
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">2.5K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">18 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.0</span>
                    </span>
                </h4>
                <img src="./assets/images/youTube.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/responsive-quote-carousel" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
                <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                    
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="viewed">257 <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="viewed">3 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/twitter-bird-logo.jpg" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/post-thumbnail-list" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">433 <i class="glyphicon glyphicon-eye-open"></i></span>
                        <span data-toggle="tooltip" title="Favorited">4 <i class="glyphicon glyphicon-star"></i></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/facebook-show-wrong-picture-.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/colourful-tabbed-slider-carousel" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">2.1K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">13 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/zomato-logo-1.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/portfolio-using-panels" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">11.5K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">24 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/youTube.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/parallax-login-form" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">7.3K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">31 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.3</span>
                    </span>
                </h4>
                <img src="./assets/images/youTube.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/timeline-responsive" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
        
        <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
                <h4>
                    <span class="label label-info info">
                        <span data-toggle="tooltip" title="Viewed">2.5K <b class="glyphicon glyphicon-eye-open"></b></span>
                        <span data-toggle="tooltip" title="Favorited">18 <b class="glyphicon glyphicon-star"></b></span>
                        <span data-toggle="tooltip" title="Bootstrap version">3.0.0</span>
                    </span>
                </h4>
                <img src="./assets/images/youTube.png" alt="...">
<!--                <a href="http://bootsnipp.com/snippets/featured/responsive-quote-carousel" class="btn btn-primary col-xs-12" role="button">View Snippet</a>-->
                <div class="clearfix"></div>
            </div>
        </div>
    </div>