
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>We Catch UP!</em></p>

  <div class="row">
<!--
    <div class="col-md-2">
      <p>Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Beirut , Lebanon</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +96170873306 </p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: support@ctachupapp.com</p>
    </div>
-->
      <div class="col-md-3">
                <p>
                   Salim Slam<br>Beirut , Lebanon<br>
                </p>
                <p><i class="fa fa-phone"></i> 
                    <abbr title="Phone">P</abbr>:+96170873306</p>
                <p><i class="fa fa-envelope-o"></i> 
                    <abbr title="Email">E</abbr>: <a href="mailto:support@ctachupapp.com">Email: support@ctachupapp.com</a>
                </p>
                <p><i class="fa fa-clock-o"></i> 
                    <abbr title="Hours">H</abbr>: Monday - Friday: 9:00 AM to 5:00 PM</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <li>
                        <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
      
      
      
      
    <div class="col-md-9">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required="">
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required="">
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  
