
  <h3 class="text-center">Suggestions(Web Sites to Evaluate)</h3>
  <p class="text-center"><em>We Catch UP!</em></p>

  <div class="row well">
      
    <div class="row">
    <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required="">
        </div>
    </div>
      
      
      
      
   
      <div class="row">
      
        <div class="col-sm-12 form-group">
          <input class="form-control" id="email" name="email" placeholder="Web Site Url" type="text" required>
        </div>
      </div>
       <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    
  </div>